<div class="card__container">
	<!--begin-->

	<div class="card">
		<div class="card__header">
			<div class="card__content--info">
				<div class="card__content--info-title">
					<h4>
						El mejor augurio para dar
					</h4>
				</div>
			</div>
		</div>
		<div class="card__content">
			<div class="card__content--figure">
				<img
					class="card__content--figure-image"
					src="views/assets/images/reading_80.png"
					alt="logo reading"
				/>
			</div>
		</div>
		<div class="card__footer">
			<div class="card__content--info">
				<div class="card__content--info-autor">
					<h5>
						Carlos elvira diaz bofe hdusj
					</h5>
				</div>
			</div>
		</div>
	</div>
	<!--End cards-->
</div>
